:root {
  --black-color: 0%, 0%, 0%;
  --gray20-color: 0%, 0%, 20%;
  --gray40-color: 0%, 0%, 40%;
  --gray60-color: 0%, 0%, 60%;
  --gray80-color: 0%, 0%, 80%;
  --white-color: 0%, 0%, 100%;

  --black:  hsl(var(--white-color));
  --gray20: hsl(var(--gray20-color));
  --gray40: hsl(var(--gray40-color));
  --gray60: hsl(var(--gray60-color));
  --gray80: hsl(var(--gray80-color));
  --white:  hsl(var(--black-color));
}

:root, .theme1 {
  --primary-color: 242, 4, 24;
  --primary-var-color: 242, 55, 71;
  --secondary-var1-color: 242, 53, 87;
  --secondary-color: 0, 2, 38;
  --secondary-var2-color: 242, 242, 242;
}

.theme2 {
  --secondary-color: 63, 61, 35;
  --primary-color: 140, 136, 81;
  --primary-var-color: 114, 107, 69;
  --secondary-var1-color: 191, 188, 174;
  --secondary-var2-color: 216, 214, 203;
}

.theme3 {
  --primary-color: 107, 134, 140;
  --secondary-var2-color: 0, 34, 38;
  --primary-var-color: 29, 63, 63;
  --secondary-color: 242, 162, 92;
  --secondary-var1-color: 216, 178, 145;
}

.theme4 {
  --primary-color: 37, 114, 2;
  --primary-var-color: 150, 191, 3;
  --secondary-color: 242, 182, 4;
  --secondary-var1-color: 242, 209, 147;
  --secondary-var2-color: 242, 48, 4;
}

:root, .theme5 {
  --secondary-color: 1, 16, 63;
  --secondary-var1-color: 1, 28, 63;
  --secondary-var2-color: 1, 46, 63;
  --primary-var-color: 242, 200, 75;
  --primary-color: 242, 160, 60;
  }

:root, .default {
  --primary: rgb(var(--primary-color));
  --primary-var: rgb(var(--primary-var-color));
  --secondary: rgb(var(--secondary-color));
  --secondary-var1: rgb(var(--secondary-var1-color));
  --secondary-var2: rgb(var(--secondary-var2-color));
}


@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@200..900&amp;display=swap);

* {
  font-family: Work Sans;
}

.heroTitle {
  font-size: 90px;
}

.sectionTitle {
  font-size: 46px;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}


body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: 1px solid slategrey;
}

